torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
allennlp==1.2.0
allennlp-models==1.2.0
allennlp-semparse==0.0.2
deflate-dict==1.0.11
filelock==3.11.0
huggingface-hub==0.13.4
pillow==9.5.0
protobuf==3.20.0
pytz==2023.3
dill==0.3.3
ordered-set==4.0.2
spacy==2.3.5
thinc==7.4.6
catalogue==2.0.8
srsly==2.4.6
cymem==2.0.7
preshed==3.0.8
murmurhash==1.0.9
blis==0.9.1
wasabi==1.1.1
plac==1.3.5
overrides~=3.1.0
faiss-gpu~=1.7.1
transformers==4.27.4
tokenizers==0.13.3
typing-extensions==4.5.0 
sqlparse~=0.4.1
tqdm~=4.59.0
networkx~=2.5
matplotlib~=3.3.4
scikit-learn==1.0.2
click~=7.1.2
parsimonious~=0.8.1
unidecode~=1.2.0
six~=1.15.0
nltk~=3.5
editdistance~=0.5.3
numpy~=1.20.1
support-developer==1.0.5
sentence-transformers==2.2.2
sentencepiece==0.1.98
zipp==3.15.0
packaging==23.1
scipy==1.7.3
joblib==1.2.0
threadpoolctl==3.1.0
tensorboardX==2.6
h5py==3.8.0
jsonpickle==3.0.1
boto3==1.26.114
botocore==1.29.114
jmespath==1.0.1
s3transfer==0.6.0
jsonnet==0.20.0
dict-hash
pandas
regex
sacremoses
urllib3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz